# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/

# Build outputs
build/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/

# MacOS / Windows junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Firebase (optional but safer)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist